* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, rgba(102, 126, 234, 1), rgba(118, 75, 162, 1), rgba(76, 161, 175, 1));
    color: #333;
    margin: 0;
}

.container {
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
}

.left-box,
.rightbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input,
select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background: #f1f1f1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    transition: all 0.3s ease;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

input:focus,
select:focus {
    outline: none;
    background: #e8e8e8;
    box-shadow: 0 0 10px rgba(0, 128, 128, 0.5);
}

button {
    padding: 12px 20px;
    background: #028a5c;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease, transform 0.2s ease;
    box-shadow: 0 5px 15px rgba(0, 128, 128, 0.3);
}

button:hover {
    background: #026a49;
    transform: translateY(-2px);
}

button:active {
    transform: translateY(0);
}

.error {
    color: rgb(172, 3, 3);
    text-align: center;
    display: none;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
        width: 90%;
    }

    h1 {
        font-size: 24px;
    }

    button {
        font-size: 14px;
        padding: 10px;
    }
}